<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="home.component.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="hero-header">
      <div class="wrapper">
        <header>
          <div class="logo">
            <i class="fa-solid fa-h"></i>
            <div class="logo-text">Hanneka Rose Puri</div>
          </div>
          <nav>
            <div class="togglebtn">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <ul class="navlinks">
              <li><a href="#">Home</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">Education</a></li>
            </ul>
          </nav>
        </header>
        <div class="container">
          <div class="hero-pic">
            <img
              src="https://stackblitz.com/files/github-fd3bde/github/hanneka/angular-hrp-portfolio/main/src/app/home/nika.jpg"
              alt="Profile"
            />
          </div>
          <div class="hero-text">
            <h5>Hi I'm <span class="">3rd IT Web Development Student</span></h5>
            <h1>Hanneka Rose Puri</h1>
            <p>
              Hi there! I was born and raise in Pampanga, and also currently
              based in Pampanga. I am 3rd year student at Holy Angel
              University. 
            </p>

            <div class="btn-group">
              <a href="" class="btn">Contact</a>
            </div>

            <div class="social">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
